.navbar(data-ng-controller="HeadPanelCtrl")
    .navbar-inner
        .container-fluid
            ul.nav.nav-tabs
                li(data-ng-hide='currentUser.isLoggedIn()', active-nav)
                    a(href='/login') Log in
                //li(ng-show='enableRegistration', data-access-level='accessLevels.anon', active-nav)
                //    a(href='/register') Register
                li(active-nav)
                    a(href='/') Home
                //li(data-access-level='accessLevels.admin', active-nav)
                //    a(href='/admin') Admin
                li(data-ng-show='currentUser.isLoggedIn()')
                    a(href="", data-ng-click="logout()")
                        | Log out
                div#userInfo.pull-right(data-ng-show='currentUser.isLoggedIn()')
                    | Welcome&nbsp;
                    strong {{ user.username }}&nbsp;
                    span.label(data-ng-class='{"label-info": user.role.title == userRoles.user.title, "label-success": user.role.title == userRoles.admin.title}') {{ user.role.title }}
    .container
        div(data-ng-view='ng-view')
        .alert.alert-error(data-ng-bind="error", data-ng-show="error")