// Partial views... Load up front to make transitions smoother
//script(type="text/ng-template", id="404")
//    include 404
//script(type="text/ng-template", id="admin")
//    include admin

//script(type="text/ng-template", id="home")
//    include home

script(type="text/ng-template", id="home")
    include home

script(type="text/ng-template", id="login")
    include devise/sessions/new

//script(type="text/ng-template", id="private")
//    include private
//script(type="text/ng-template", id="register")
//    include register