!!! 5
| <!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
| <!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
| <!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
| <!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width')
    // Place favicon.ico and apple-touch-icon.png in the root directory
    // build:css styles/vendor.css
    // bower:css
    link(rel='stylesheet', href='bower_components/sass-bootstrap/dist/css/bootstrap.css')
    // endbower
    // endbuild
    // build:css({.tmp,app}) styles/main.css
    link(rel='stylesheet', href='styles/main.css')
    // endbuild
body(data-ng-cloak)
    | <!--[if lt IE 7]><p class="browsehappy">
    | You are using an <strong>outdated</strong> browser. Please
    | <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p><![endif]-->

    // Add your site or application content here
    .navbar(data-ng-controller="NavCtrl")
        .navbar-inner
            .container-fluid
                ul.nav.nav-tabs
                    li(data-access-level='accessLevels.anon', active-nav)
                        a(href='/login') Log in
                    li(ng-show='enableRegistration', data-access-level='accessLevels.anon', active-nav)
                        a(href='/register') Register
                    li(data-access-level='accessLevels.anon', active-nav)
                        a(href='/') Home
                    li(data-access-level='accessLevels.user', active-nav)
                        a(href='/private') Private
                    li(data-access-level='accessLevels.admin', active-nav)
                        a(href='/admin') Admin
                    li(data-access-level='accessLevels.user')
                        a(href="", data-ng-click="logout()")
                            | Log out
                    div#userInfo.pull-right(data-access-level='accessLevels.user')
                        | Welcome&nbsp;
                        strong {{ user.username }}&nbsp;
                        span.label(data-ng-class='{"label-info": user.role.title == userRoles.user.title, "label-success": user.role.title == userRoles.admin.title}') {{ user.role.title }}
        .container
            div(data-ng-view='ng-view')
            .alert.alert-error(data-ng-bind="error", data-ng-show="error")

    // Google Analytics: change UA-XXXXX-X to be your site's ID
    script
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-XXXXX-X');
        ga('send', 'pageview');

    | <!--[if lt IE 9]>
    | <script src="bower_components/es5-shim/es5-shim.js"></script>
    | <script src="bower_components/json3/lib/json3.min.js"></script>
    | <![endif]-->

    // build:js scripts/vendor.js
    // bower:js

    script(src='http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js')


    script(src='bower_components/jquery/jquery.js')
    script(src='bower_components/angular/angular.js')
    script(src='bower_components/sass-bootstrap/dist/js/bootstrap.js')
    script(src='bower_components/angular-resource/angular-resource.js')
    script(src='bower_components/angular-cookies/angular-cookies.js')
    script(src='bower_components/angular-sanitize/angular-sanitize.js')
    script(src='bower_components/angular-route/angular-route.js')
    script(src='bower_components/oauth-js/oauth.js')
    // endbower
    // endbuild
    // build:js({.tmp,app}) scripts/scripts.js
    //script(src='scripts/app.js')
    // endbuild

    // Partial views... Load up front to make transitions smoother
    script(type="text/ng-template", id="404")
        include views/partials/404
    script(type="text/ng-template", id="admin")
        include views/partials/admin
    script(type="text/ng-template", id="home")
        include views/partials/home
    script(type="text/ng-template", id="login")
        include views/partials/login
    script(type="text/ng-template", id="private")
        include views/partials/private
    script(type="text/ng-template", id="register")
        include views/partials/register

    //link(rel='stylesheet', href='css/app.css')
    //link(href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css", rel="stylesheet")
    //link(href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css", rel="stylesheet")

    // This is needed because Facebook login redirects add #_=_ at the end of the URL
    script(type="text/javascript").
        if (window.location.href.indexOf('#_=_') > 0) {
            window.location = window.location.href.replace(/#.*/, '');
        }

    script(data-main='scripts/main', src='bower_components/requirejs/require.js')






