.btn-group
    a.btn.btn-default(href="", data-ng-click="loginOauth('facebook')")
        i.fa.fa-facebook-square
        |  Facebook
    a.btn.btn-default(href="", data-ng-click="loginOauth('twitter')")
        i.fa.fa-twitter
        |  Twitter
    a.btn.btn-default(href="", data-ng-click="loginOauth('google')")
        i.fa.fa-google-plus-square
        |  Google
    a.btn.btn-default(href="", data-ng-click="loginOauth('linkedin')")
        i.fa.fa-linkedin
        |  LinkedIn